<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Public Country Holidays{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('assets/bootstrap/bootstrap.min.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include('inc/navbar.html.twig') %}

        <div class="container">
            {% block body %}{% endblock %}
        </div>

        <script src="{{ asset('assets/jquery/jquery-3.5.1.slim.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
