{% extends 'base.html.twig' %}

{% block title %}Public Country Holidays{% endblock %}

{% block body %}
    <h1>Hello from symfony!</h1>
    <button type="button" class="btn btn-primary">Primary</button>
{% endblock %}