{% extends 'base.html.twig' %}

{% block title %}Public Country Holidays{% endblock %}

{% block body %}
    {% include 'publicHolidays/blocks/pchSearchForm.html.twig' %}

    <p>
        Welcome to Public Holidays Search Page.
        Please enter Country and Year to see holidays.
    </p>

{% endblock %}