{% extends 'base.html.twig' %}

{% block title %}Search Public Country Holidays{% endblock %}

{% block body %}
    {% if errors %}
    <div class="alert alert-danger" role="alert">
        {% for error in errors%}
            {{ error }}
        {% endfor %}
    </div>
    {% endif %}

    {% include 'publicHolidays/blocks/pchSearchForm.html.twig' %}

    {% if groupedHolidays %}
        {% include 'publicHolidays/blocks/pchGroupedHollidaysTable.html.twig' %}
    {% endif %}
{% endblock %}