<table class="table table-striped mb-4 mt-2">
    <thead>
    <tr>
        <th>Month</th>
        <th>Day</th>
        <th>Name</th>
        <th>Name Language</th>
    </tr>
    </thead>
    <tbody>
    {% for holiday in holidays %}
        <tr>
            <td>{{ holiday['date']['month'] }}</td>
            <td>{{ holiday['date']['day'] }}</td>
            <td>
                {% for name in holiday['name'] %}
                    {{ name['text'] |nl2br  }}
                    <br>
                {% endfor %}
            </td>
            <td>
                {% for name in holiday['name'] %}
                    {{ name['lang']|nl2br  }}
                    <br>
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>